<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<!-- <p th:unless="${routine.activities.size()}">No activities yet.</p> -->

<ul><li th:each="activity : ${routine.activities}" th:text="${activity.name}"></li> | <a th:href="'edit/' + ${routine.id}">Edit</a>
</ul>

<!--fix this. shows the bullet point but not the value of the bedtime
<ul>
    <li th:text="${bedtime}"></li>
</ul>-->



</body>
</html>