<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:object="${routine}">
    <div class="form-group">
        <label th:for="title">Title: </label>
        <input class="form-control" th:field="*{title}" />
        <span th:errors="*{title}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="type">Add Activities</label>
        <select name="activityId">
            <option th:each="activity : ${activities}"
                    th:text="${activity.name}"
                    th:value="${activity.id}"></option>
        </select>
    </div>
    <div class="form-group">
        <label for="bedtime">I want bedtime to start at </label>
        <input class="form-control" type="text" name="bedtime" id="bedtime"/>
        <span th:errors="*{bedtime}" class="error"></span>
    </div>
    <div>
        <input type="submit" value="Create Routine" />
    </div>
</form>

</body>
</html>