<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${routines} and ${routines.size()}">No Routines Yet!! Get Started Below.</p>


<table class="table">

    <tr>
        <th>Name</th>
    </tr>

    <tr th:each="routine : ${routines}">
        <td><a th:href="'/activity/routine/' + ${routine.id}" th:text="${routine.title}"></a></td>
    </tr>

</table>

<a href="/routine/add">Add</a>
<a href="/routine/delete">Delete</a>

</body>
</html>