<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">
<div>
    <label for="username">Username: </label>
    <input type="text" name="username" id="username" />
</div>
<div>
    <label for="email">Email: </label>
    <input type="email" name="email" id="email" />
</div>
<div>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password" />
</div>
<div>
    <label for="verify">Verify Password: </label>
    <input type="password" name="verify" id="verify" />
</div>
<div>
    <input type="submit" value="Sign Up" />
</div>
</form>

</body>
</html>