<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
    <meta charset="UTF-8" />
    <title th:text="${title}">Title</title>

   <link rel="stylesheet" ref="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />

    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</head>

<body>

<nav th:fragment="navigation">
    <ul class="clearfix" sec:authorize="isFullyAuthenticated()">
        <li><a href="/">Home</a></li>
        <li><a href="/routine/add">Add Routine</a></li>
        <li><a href="/activity/add">Add Activity</a></li>
        <li><a id="navLogoutLink" th:href="@{/logout}">Logout</a></li>
    </ul>

    <ul class="nav navbar-nav pull-right" sec:authorize=" ! isAuthenticated()">
        <li><a th:href="@{/User/signin}">Sign In</a></li>
    </ul>

</nav>

</body>
</html>