<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h2>In need of a Bed Time Routine? Look no further!</h2>

<p>If you're here I'm assuming you're a tired parent or caregiver in need of a concrete bedtime routine. Well you're in the right place!! I, too, was in your shoes not too long ago and decided that there has got to be a better way!! My kids are grumpy and tired all. the. time. and I'm at my wits end. In steps the bedtime routine designer. You can either choose from pre-made bedtime routines or you can create your own!! Are you ready? </p>

<form method="post">
<input type="submit" value="Get Started Here"/>
</form>

<h3>Creating a consistent bedtime routine that you and your kids can stick to night after night is no easy feat. That's why we've included these great features!</h3>

<table>
    <tr>
        <th>Create Unique Routines</th>
        <th>Need Inspiration?</th>
        <th>Create a PDF</th>
    </tr>
    <tr>
        <td>Each unique child has their own unique needs. That's why we've included the ability to create a custom routine. Choose a title, add activities, choose a bedtime and you're done!</td>
        <td>We've got that covered! With our pre-made bedtime routines, you can get either get started right away or you can customize the routine to fit your child's needs.</td>
        <td>Need a hard copy? Not a problem! With the click of a button, you can download a pdf version of your routine and easily print it out to use as you please!</td>
    </tr>
</table>

<h3>Get In Touch</h3>
<p>If you have questions, we have answers! Contact us below. We love feedback!</p>

<form>
    <textarea>Message</textarea>
    <div>
        <input type="text" value="Email" />
        <input type="text" value="Name" />
        <input type="submit" value="Send" />
    </div>
</form>

<h3>I am a busy parent, just like you!</h3>
<p>So I know how important it is to have a consistent routine you can rely on night after night. I also know how hard it is to create and remember what that routine is. After all, if your kid isn't sleeping, neither are you! </p>

<form method="post">
    <input type="submit" value="Create your Account Now" />
</form>

</body>
</html>

<!-- where do I put the main controller for the index file??? -->