<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h3>Welcome!</h3>

<p>If you're here I'm assuming you're a tired parent or caregiver in need of a concrete bedtime routine. Well you're in the right place!! I, too, was in your shoes not too long ago and decided that there has got to be a better way!! My kids are grumpy and tired all. the. time. and I'm at my wits end. In steps the bedtime routine designer. You can either choose from pre-made bedtime routines or you can create your own!! Are you ready? </p>

<form method="post">
<input type="submit" value="Get Started Here"/>
</form>

</body>
</html>

<!-- where do I put the main controller for the index file??? -->